DEBUG=True
TELEGRAM_API_TOKEN=ADD_YOUR_API_KEY_HERE
FLASK_APP=autonomia/app.py
WEBHOOK_DOMAIN=ADD_SOME_LOCAL_DOMAIN(Recommend use ngrok in dev)
GOOGLE_CUSTOM_SEARCH_API_KEY=
GOOGLE_SEARCH_ENGINE_KEY=
