[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
isort = "*"
black = "*"
pytest = "*"
pytest-cov = "*"
pytest-vcr = "*"
freezegun = "*"

[packages]
python-telegram-bot = "==11.1.0"
python-dateutil = "==2.8.1"
flask = "*"
gunicorn = "*"
redis = "*"
flask-redis = "*"
jinja2 = "*"
pyyaml = "*"
sentry-sdk = {extras = ["flask"],version = "*"}

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
