interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query.yahooapis.com/v1/public/yql?q=select+%2A+from+weather.forecast+where+woeid+in+%28select+woeid+from+geo.places%281%29+where+text%3D%22dublin%22%29+AND+u%3D%22c%22&format=json
  response:
    body: {string: '{"query":{"count":1,"created":"2018-04-12T19:15:55Z","lang":"en-US","results":{"channel":{"units":{"distance":"km","pressure":"mb","speed":"km/h","temperature":"C"},"title":"Yahoo!
        Weather - Dublin, DUB, IE","link":"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-560743/","description":"Yahoo!
        Weather for Dublin, DUB, IE","language":"en-us","lastBuildDate":"Thu, 12 Apr
        2018 08:15 PM IST","ttl":"60","location":{"city":"Dublin","country":"Ireland","region":"
        DUB"},"wind":{"chill":"43","direction":"70","speed":"11.27"},"atmosphere":{"humidity":"88","pressure":"33660.72","rising":"0","visibility":"25.91"},"astronomy":{"sunrise":"6:31
        am","sunset":"8:21 pm"},"image":{"title":"Yahoo! Weather","width":"142","height":"18","link":"http://weather.yahoo.com","url":"http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif"},"item":{"title":"Conditions
        for Dublin, DUB, IE at 07:00 PM IST","lat":"53.334129","long":"-6.28636","link":"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-560743/","pubDate":"Thu,
        12 Apr 2018 07:00 PM IST","condition":{"code":"26","date":"Thu, 12 Apr 2018
        07:00 PM IST","temp":"7","text":"Cloudy"},"forecast":[{"code":"39","date":"12
        Apr 2018","day":"Thu","high":"8","low":"6","text":"Scattered Showers"},{"code":"26","date":"13
        Apr 2018","day":"Fri","high":"11","low":"7","text":"Cloudy"},{"code":"30","date":"14
        Apr 2018","day":"Sat","high":"13","low":"6","text":"Partly Cloudy"},{"code":"39","date":"15
        Apr 2018","day":"Sun","high":"11","low":"7","text":"Scattered Showers"},{"code":"28","date":"16
        Apr 2018","day":"Mon","high":"11","low":"7","text":"Mostly Cloudy"},{"code":"23","date":"17
        Apr 2018","day":"Tue","high":"12","low":"10","text":"Breezy"},{"code":"28","date":"18
        Apr 2018","day":"Wed","high":"16","low":"10","text":"Mostly Cloudy"},{"code":"30","date":"19
        Apr 2018","day":"Thu","high":"16","low":"9","text":"Partly Cloudy"},{"code":"30","date":"20
        Apr 2018","day":"Fri","high":"15","low":"9","text":"Partly Cloudy"},{"code":"28","date":"21
        Apr 2018","day":"Sat","high":"13","low":"8","text":"Mostly Cloudy"}],"description":"<![CDATA[<img
        src=\"http://l.yimg.com/a/i/us/we/52/26.gif\"/>\n<BR />\n<b>Current Conditions:</b>\n<BR
        />Cloudy\n<BR />\n<BR />\n<b>Forecast:</b>\n<BR /> Thu - Scattered Showers.
        High: 8Low: 6\n<BR /> Fri - Cloudy. High: 11Low: 7\n<BR /> Sat - Partly Cloudy.
        High: 13Low: 6\n<BR /> Sun - Scattered Showers. High: 11Low: 7\n<BR /> Mon
        - Mostly Cloudy. High: 11Low: 7\n<BR />\n<BR />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-560743/\">Full
        Forecast at Yahoo! Weather</a>\n<BR />\n<BR />\n<BR />\n]]>","guid":{"isPermaLink":"false"}}}}}}'}
    headers:
      Content-Type: [application/json;charset=utf-8]
      Public-Key-Pins-Report-Only: ['max-age=2592000; pin-sha256="2oALgLKofTmeZvoZ1y/fSZg7R9jPMix8eVA6DH4o/q8=";
          pin-sha256="cAajgxHlj7GTSEIzIYIQxmEloOSoJq7VOaxWHfv72QM="; pin-sha256="SVqWumuteCQHvVIaALrOZXuzVVVeS7f4FGxxu6V+es4=";
          pin-sha256="UZJDjsNp1+4M5x9cbbdflB779y5YRBcV6Z6rBMLIrO4="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg=";
          pin-sha256="lnsM2T/O9/J84sJFdnrpsFp3awZJ+ZZbYpCWhGloaHI="; pin-sha256="h6801m+z8v3zbgkRHpq6L29Esgfzhj89C1SyUCOQmqU=";
          pin-sha256="SQVGZiOrQXi+kqxcvWWE96HhfydlLVqFr4lQTqI5qqo="; pin-sha256="q5hJUnat8eyv8o81xTBIeB5cFxjaucjmelBPT2pRMo8=";
          pin-sha256="vPtEqrmtAhAVcGtBIep2HIHJ6IlnWQ9vlK50TciLePs="; pin-sha256="lpkiXF3lLlbN0y3y6W0c/qWqPKC7Us2JM8I7XCdEOCA=";
          pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E="; pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18=";
          pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY="; pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A=";
          includeSubdomains; report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"']
    status: {code: 200, message: OK}
version: 1
