interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://corona.lmao.ninja/v2/countries/ireland
  response:
    body:
      string: '{"updated":1587151959537,"country":"Ireland","countryInfo":{"_id":372,"iso2":"IE","iso3":"IRL","lat":53,"long":-8,"flag":"https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/ie.png"},"cases":13980,"todayCases":709,"deaths":530,"todayDeaths":44,"recovered":77,"active":13373,"critical":156,"casesPerOneMillion":2831,"deathsPerOneMillion":107,"tests":90646,"testsPerOneMillion":18358,"continent":"Europe"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a4-pUZDY2TyKISspNoZBiKh+ZC4+PQ"
      NG-Cache-Status:
      - HIT
    status:
      code: 200
      message: OK
version: 1
