interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://data.fixer.io/api/latest
  response:
    body: {string: '{"success":true,"timestamp":1523802543,"base":"EUR","date":"2018-04-15","rates":{"AED":4.529837,"AFN":85.98525,"ALL":128.546101,"AMD":595.136405,"ANG":2.19639,"AOA":268.455329,"ARS":24.907351,"AUD":1.58808,"AWG":2.195893,"AZN":2.09659,"BAM":1.959408,"BBD":2.467296,"BDT":102.343423,"BGN":1.958915,"BHD":0.465136,"BIF":2160.092662,"BMD":1.233648,"BND":1.617688,"BOB":8.463317,"BRL":4.221795,"BSD":1.233648,"BTC":0.000148,"BTN":80.618884,"BWP":11.867204,"BYN":2.41844,"BYR":24179.497575,"BZD":2.464587,"CAD":1.554895,"CDF":1931.280522,"CHF":1.186528,"CLF":0.026956,"CLP":735.143048,"CNY":7.737938,"COP":3343.30912,"CRC":693.310528,"CUC":1.233648,"CUP":32.691668,"CVE":110.337465,"CZK":25.295948,"DJF":218.145949,"DKK":7.44766,"DOP":60.942206,"DZD":140.558128,"EGP":21.761547,"ERN":18.492865,"ETB":33.579893,"EUR":1,"FJD":2.480115,"FKP":0.865409,"GBP":0.866613,"GEL":2.957103,"GGP":0.866493,"GHS":5.460747,"GIP":0.865779,"GMD":57.895574,"GNF":11102.830958,"GTQ":9.05009,"GYD":252.453692,"HKD":9.682413,"HNL":29.06726,"HRK":7.423604,"HTG":79.817011,"HUF":310.521505,"IDR":16962.657738,"ILS":4.3327,"IMP":0.866493,"INR":80.495998,"IQD":1460.639037,"IRR":51813.209525,"ISK":121.637674,"JEP":0.866493,"JMD":152.664395,"JOD":0.872811,"JPY":132.395561,"KES":123.919921,"KGS":84.969593,"KHR":4941.993662,"KMF":491.32491,"KPW":1110.283484,"KRW":1320.225307,"KWD":0.369606,"KYD":1.012064,"KZT":403.230113,"LAK":10209.669917,"LBP":1856.640423,"LKR":191.955611,"LRD":163.001895,"LSL":14.915273,"LTL":3.761027,"LVL":0.765541,"LYD":1.632738,"MAD":11.327236,"MDL":20.11833,"MGA":3916.832306,"MKD":61.26342,"MMK":1627.181922,"MNT":2934.848628,"MOP":9.96825,"MRO":434.244465,"MUR":41.331821,"MVR":19.208364,"MWK":880.133714,"MXN":22.248887,"MYR":4.784708,"MZN":74.019295,"NAD":14.879074,"NGN":442.879997,"NIO":38.280094,"NOK":9.591493,"NPR":128.484425,"NZD":1.675792,"OMR":0.474713,"PAB":1.233648,"PEN":3.96939,"PGK":3.913753,"PHP":64.088006,"PKR":142.490894,"PLN":4.168871,"PYG":6810.970121,"QAR":4.490236,"RON":4.659369,"RSD":117.923037,"RUB":76.509606,"RWF":1041.95128,"SAR":4.626639,"SBD":9.627269,"SCR":16.56835,"SDG":22.268825,"SEK":10.458748,"SGD":1.617811,"SHP":0.865779,"SLL":9412.733403,"SOS":693.310501,"SRD":9.166461,"STD":24514.804021,"SVC":10.794875,"SYP":635.303938,"SZL":14.890011,"THB":38.428586,"TJS":10.904341,"TMT":4.194403,"TND":2.997399,"TOP":2.729204,"TRY":5.052903,"TTD":8.178473,"TWD":36.154516,"TZS":2795.446409,"UAH":32.253769,"UGX":4548.459983,"USD":1.233648,"UYU":34.86334,"UZS":9961.706684,"VEF":60912.595937,"VND":28106.198636,"VUV":131.864616,"WST":3.161721,"XAF":655.646779,"XAG":0.0741,"XAU":0.000917,"XCD":3.335298,"XDR":0.848207,"XOF":655.646779,"XPF":119.346059,"YER":308.226919,"ZAR":14.879401,"ZMK":11104.315329,"ZMW":11.732439,"ZWL":397.672562}}'}
    headers:
      Content-Type: [application/json; Charset=UTF-8]
      Etag: [f5972aef17e6adfcb458e871d29f57a1]
      Last-Modified: ['Sun, 15 Apr 2018 14:29:03 GMT']
      X-Apilayer-Transaction-Id: [4ed51bc4-3ff6-40c6-835a-d66d9b61d93b]
      X-Request-Time: ['0.028']
    status: {code: 200, message: OK}
version: 1
