interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.citybik.es/dublinbikes.json
  response:
    body: {string: "[\n  {\n    \"bikes\": 3, \n    \"name\": \"GRANGEGORMAN LOWER\
        \ (CENTRAL)\", \n    \"idx\": 0, \n    \"lat\": 53355173, \n    \"timestamp\"\
        : \"2018-04-16T18:20:36.587000Z\", \n    \"lng\": -6278424, \n    \"id\":\
        \ 0, \n    \"free\": 37, \n    \"number\": 104\n  }, \n  {\n    \"bikes\"\
        : 21, \n    \"name\": \"FENIAN STREET\", \n    \"idx\": 1, \n    \"lat\":\
        \ 53341428, \n    \"timestamp\": \"2018-04-16T18:20:36.564000Z\", \n    \"\
        lng\": -6246720, \n    \"id\": 1, \n    \"free\": 14, \n    \"number\": 63\n\
        \  }, \n  {\n    \"bikes\": 12, \n    \"name\": \"CITY QUAY\", \n    \"idx\"\
        : 2, \n    \"lat\": 53346637, \n    \"timestamp\": \"2018-04-16T18:20:36.566000Z\"\
        , \n    \"lng\": -6246154, \n    \"id\": 2, \n    \"free\": 17, \n    \"number\"\
        : 99\n  }, \n  {\n    \"bikes\": 4, \n    \"name\": \"FITZWILLIAM SQUARE EAST\"\
        , \n [...]
