interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.smartdublin.ie/cgi-bin/rtpi/realtimebusinformation?stopid=1020&format=json
  response:
    body: {string: "{\"errorcode\":\"0\",\"errormessage\":\"\",\"numberofresults\":19,\"stopid\":\"1020\",\"timestamp\":\"15\\/04\\/2018
        18:35:43\",\"results\":[{\"arrivaldatetime\":\"15\\/04\\/2018 18:35:58\",\"duetime\":\"Due\",\"departuredatetime\":\"15\\/04\\/2018
        18:35:58\",\"departureduetime\":\"Due\",\"scheduledarrivaldatetime\":\"15\\/04\\/2018
        18:34:00\",\"scheduleddeparturedatetime\":\"15\\/04\\/2018 18:34:00\",\"destination\":\"Stocking
        Ave\",\"destinationlocalized\":\"Ascaill Stoic\xEDn \",\"origin\":\"Ringsend
        Road\",\"originlocalized\":\"Ringsend Road\",\"direction\":\"Outbound\",\"operator\":\"bac\",\"additionalinformation\":\"\",\"lowfloorstatus\":\"no\",\"route\":\"15B\",\"sourcetimestamp\":\"15\\/04\\/2018
        18:34:22\",\"monitored\":\"true\"},{\"arrivaldatetime\":\"15\\/04\\/2018 18:41:07\",\"duetime\":\"5\",\"departuredatetime\":\"15\\/04\\/2018
        18:41:07\",\"departureduetime\":\"5\",\"scheduledarrivaldatetime\":\"15\\/04\\/2018
        18:36:00\",\"scheduleddeparturedatetime\":\"15\\/04\\/2018 18:36:00\",\"destination\":\"Ballycullen
        Road\",\"destinationlocalized\":\"Br Bhaile U\xED Chuilinn\",\"origin\":\"Clongriffin\",\"originlocalized\":\"Cluain
        Ghr\xEDf\xEDn\",\"direction\":\"Outbound\",\"operat[...]
