interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://corona.lmao.ninja/countries/ireland
  response:
    body:
      string: '{"country":"Ireland","countryInfo":{"iso2":"IE","iso3":"IRL","_id":372,"lat":53,"long":-8,"flag":"https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/ie.png"},"cases":1329,"todayCases":204,"deaths":7,"todayDeaths":1,"recovered":5,"active":1317,"critical":29,"casesPerOneMillion":269,"deathsPerOneMillion":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"144-jCONEHdVtQEwXmDAtrek7BLji7Q"
    status:
      code: 200
      message: OK
version: 1
